<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xe.demo.mapper.IArticleMapper">
	<resultMap id="BaseResultMap" type="com.xe.demo.model.IArticle">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="uid" jdbcType="INTEGER" property="uid" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="color" jdbcType="VARCHAR" property="color" />
		<result column="cover" jdbcType="VARCHAR" property="cover" />
		<result column="content" jdbcType="VARCHAR" property="content" />
		<result column="posttime" jdbcType="VARCHAR" property="posttime" />
	</resultMap>
</mapper>